<h1>Book List</h1>
<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Description
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td>placeholder</td>
    <tr>
    <% end %>
  </tbody>
</table>
